/* fonts from googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway&display=swap');

/* Global */
* {
    max-width: 1920px;
    margin: auto;
}

body {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

/* Headings */
.heading > h1 {
    font-family: "Indie Flower", sans-serif;
    font-weight: 600;
    font-size: xxx-large;
    text-transform: uppercase;
}

#head-box {
    display: flex;
    margin: 80px 0 60px 0;
    background-color: indigo;
}

#head-text {
    transform: rotate(-12deg);
}

/* Intro text and navigation area */
#intro-box {
    max-width: 480px;
    font-size: 15px;
}

#citation {
    color: #3a3a3a;
    font-size: x-small;
}

.game-nav {
    max-width: 300px;
    padding-top: 50px;
    font-family: "Indie Flower", sans-serif;
    text-align: center;
}

#play-classic {
    padding-bottom: 10px;
}

.buttons {
    max-width: 200px;
    padding: 25px 0;
    text-align: center;
}

#rules {
    margin-bottom: 5px;
}

#rules, #highscores {
    width: 105px;
}

/* Footer */
#social {
    font-size: xx-large;
    display: flex;
    background-color: indigo;
}

#social > a {
    color: black;
}