/* fonts from googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway&display=swap');

/* Global */
* {
    max-width: 1920px;
    margin: auto;
}

body {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    padding: 10px;
}

/* Headings */
.heading>h1 {
    font-family: "Indie Flower", sans-serif;
    font-weight: 600;
    font-size: xxx-large;
    text-transform: uppercase;
}

.heading {
    display: flex;
    background-color: indigo;
}

#head-box {
    margin: 50px 0;
}

#modern-box {
    margin: 20px 0;
}

#rounds {
    display: flex;
    text-align: center;
}

#head-text {
    transform: rotate(-12deg);
}

/* Intro text and navigation area */
#intro-box {
    max-width: 480px;
    font-size: 16px;
}

#citation {
    color: #3a3a3a;
    font-size: x-small;
}

.game-nav {
    max-width: 300px;
    padding: 40px 0 30px 0;
    font-family: "Indie Flower", sans-serif;
    text-align: center;
}

#play-classic {
    padding-bottom: 10px;
}

#play-classic,
#play-modern {
    color: indigo;
}

.buttons {
    max-width: 200px;
    padding: 20px 0 25px 0;
    text-align: center;
}

.btns {
    width: 105px;
    background-color: #080808;
    color: ivory;
    border-radius: 15px;
    margin-bottom: 5px;
}

.btns:hover {
    background-color: mediumslateblue;
    cursor: pointer;
}

/* Game pages */
.score {
    display: flex;
    text-align: center;
}

.game {
    display: flex;
    text-align: center;
}

/* Footer */
#social {
    font-size: xx-large;
    display: flex;
    background-color: indigo;
}

#social>a {
    color: black;
    padding: 5px;
}

/* Modal box for rules and highscores, most of the code from w3schoools.com */
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    min-width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: indigo;
    color: white;
}

/* Modal Body */
.modal-body {
    display: flex;
    padding: 50px 15px;
    text-align: left;
}

.classic-rules,
.modern-rules {
    font-size: x-large;
}

/* Modal Footer */
.modal-footer {
    height: 30px;
    background-color: indigo;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 100px auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}